body {
    overflow-x: hidden;
}

nav {
    ul {
        list-style: none;
        padding-left: 0 !important;
        margin-bottom: 0 !important;
    }
}

h1, h2, h3 {
    font-family: 'Old Standard TT', serif;
} 


p {
    font-family: 'Open Sans', sans-serif !important;
}

header a, footer a {
    color: #000 !important;
    transition: 150ms ease-in-out;
    text-decoration: none !important;
    font-weight: 600;
    
}

header a:hover, footer a:hover {
    color: #4A8979 !important;
    text-decoration: none;
}

/* HEADER  */

header {
    background-color: rgba(245, 245, 245, 1);
    border-bottom: 3px solid #000;
    .header-brand__logo {
        font-family: 'Old Standard TT', serif;
        font-size: 2rem;
    }

    .header__cart-icon {
        font-size: 1.5rem;
    }
}

/* HERO  */

.hero-banner {
    background: center no-repeat url("/img/hero-banner-min.jpg");
    height: 800px;
    background-size: cover;
}

.hero-headings {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3rem;
    width: auto;
    &__cta {
        color: #000;
        background-color: rgba(245, 245, 245, 1);
        padding: .7rem 2rem;
        border: 3px solid #000;
        border-radius: 30px;
        text-decoration: none !important;
        transition: all 0.2s ease-in-out;
    }
    
    &__cta:hover {
        color: whitesmoke;
        background-color: #4A8979;
        border-color: #000;
        text-decoration: none;
    }
}

/* ABOUT US */


// .about-us-content {
//     &__picture {
//         box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
//     }
// }

/* FOOTER */

footer {
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    background-color: whitesmoke;
}

.footer-social {
    &__item {
        transition: 150ms ease-in-out;
        font-size: 2.2rem;
        &:hover {
            color: #4A8979 !important;
        }
    }
}

    // PRODUCT PAGE

.btn-add-to-cart {
    background-color: black !important;
    color: white !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    font-weight: 600 !important;
    border: 2px solid black !important;
    &:hover {
        background-color: #4A8979 !important;
        color: black !important;
    }
}

.product-img {
    width: 480px;
    height: 480px;
    object-fit: cover;
}

.reset-row-padding {
    padding-top: 30px !important;
}